/*
Experimenting with FLEX


body { 
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; background-size: cover; 
    background-image: url('chevron.jpg'); 
  }
@media (max-width: 480px) {
    body {
     background:url('chevron.jpg');
    }
} */

/* .hide {
    display: none;
} */


body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('chevron.jpg');
    background-color: black;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 500px;
} 
.triviaResults {
    order: 5;
}

.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-color: white;
    opacity: 90%;
    border-radius: 15px;
    position: relative;
    margin: 20px auto;
    height: 200px;
    width: 580px;
    padding: 20px;
    color: rgb(20, 19, 19);
    margin-top: 0em;
    font-size: 60px;
    color: rgb(104, 7, 7);
    text-align: center;
}

#score {
    flex-grow: 2;
    align-self: flex-end;
    order: 5;
    /* right: 0px; */
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background-color: #198b21;
    opacity: 90%;
    position: absolute;
    size: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #e9e9e9;
    border-radius: 8px;

}

#wrong {
    flex-grow: 2;
    align-self: flex-start;
    order: 5;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    opacity: 85%;
    background: rgb(139, 8, 8);
    position: absolute;
    size: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #e9e9e9;
    border-radius: 8px;
}

.answerOptionsA {
    margin: 2em .5em .5em .5em;
    width: 141px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: black;
    opacity: 98%;
}

.answerOptionsB {
    margin: 2em .5em .5em .5em;
    width: 141px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: black;
    opacity: 98%;
}

.answerOptionsC {
    margin: 2em .5em .5em .5em;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: black;
    opacity: 98%;
}

.nextBtn {
    align-self: flex-end;
    justify-content: flex-end;
    order: 5;
    position: absolute;
    right: 20%;
    margin: 40px auto;
    height: auto;
    width: 140px;
    padding: 10px;
    color: white;
    background: rgb(139, 8, 8);
    border-radius: 8px;
}


h1 {
    order: 0;
    flex-grow: 5;
    align-self: flex-start center;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #644647;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
    text-align: center;
}

h2 {
    color: rgb(20, 19, 19);
    margin-top: 0em;
    font-size: 30px;
    
}
